
.background{
  background-image: url('/assets/img/background.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 17px 0px;
}
.signup-form form {
  border-radius: 10px;
  background: #fff0;
  margin-top: 130px;
  border: 0px solid #f3f3f3; 
  padding: 18px;
}

.signup-form .form-control {
  height: 25px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 0px;
}

.signup-form .btn {
  font-size: 14px;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border-radius: 50px;
  border: none;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  outline: none !important;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
}

.signup-form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 21px;
}

.signup-form .fa-paper-plane {
  font-size: 17px;
}

.signup-form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}


.sign-up {
  margin-top: 10px;
  font-size: 12px;
}



@media (max-width: 999px) {  
  
  .main-content {
    padding: 20px 100px;
  }  
}
@media (max-width: 330px) {    
  .main-content {
    padding: 60px 30px;
  }  
}
h3{
  font-size: 20px;
  color: #f29d05;
  font-weight: 600;  
}

.form-control-mob {
  display: block;
   margin: auto;
    width: 86%;
  height: calc(2.70rem + 2px);
  padding: 0;
  margin-left: 20px;
  font-size: 13px;
  line-height: 1.5;
  color: #495057;
  font-weight: 400px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 30px;
  border: 1px solid #ced4da00;
  border-bottom: 1px solid #c1c0c0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.has-search .form-control-mob {
  padding-left: 6px;
  font-weight:bold;
}

.has-search .form-control-mob-feedback {
 position: absolute;
    z-index: 2;
    display: block;
    width: 18px;
    height: 1.375rem;
    line-height: 1.375rem;
    text-align: center;
    pointer-events: none;
    margin-top: 11px;
    color: #aaa;
    padding-right: 0px;
    left: 75px;
    border-right: 1px solid #e9e9e9;
}
.signup-form {
  font-size: 18px;
}
.card1{
  text-align:center;
  margin:auto;
  .message{
    color:white;
    font-size:14px;
}
}

.otp{ 
  padding-top:20px;
  color: #f29d05;
  font-size: 14px;
  font-weight: 600;
}



