<ion-content>
  
<div class="row background">
  <!------------------for mobile----------------->
  <div class="container">
    <div class="col-12">     
      <div class="signup-form card1">
        <form action="#" method="post">
          <h3>SIGN UP</h3>
          <img src="assets/img/locak.png" width="50px">
          <p class="message">Enter the 4 digit number that was sent to<br>+91 8936275540</p>
          <div class="form-group">                        
            <div class="form-group has-search">
            	<ion-grid>
				  <ion-row>
				    <ion-col size="2">
				     <input type="text" class="form-control-mob"  placeholder="2" required="required" />
				    </ion-col>
				    <ion-col size="2">
				      <input type="text" class="form-control-mob" placeholder="3" required="required" />
				    </ion-col>
				    <ion-col size="2">
				      <input type="text" class="form-control-mob"  placeholder="2" required="required" />
				    </ion-col>
				    <ion-col size="2">
				      <input type="text" class="form-control-mob"  placeholder="2" required="required" /> 	
				    </ion-col>
				    <ion-col size="2">
				      <input type="text" class="form-control-mob"  placeholder="2" required="required" /> 	
				    </ion-col>
				  </ion-row>
                </ion-grid>
              
               
            </div>
            
          </div>          
          <div class="form-group">
              <center>
              	<a href=""><img src="assets/img/submit.png" width="150px"></a> 
              	<p class="otp">Resend OTP</p>
              </center>
          </div>

          
        </form>
      </div>
    </div>
    
    
  </div>
  <!---------------End mobile---------------->
</div>
  
</ion-content>